table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customWidth {
  max-width: 200px;
}

.anchorClass {
  color: blue;
  cursor: pointer;
}
